/* Deletes white space after navbar and rounded corners */
.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	font-size: 1.7em !important;
	color: white !important;
}

/* Style of brand */
.navbar-brand {
	font-size: 0.9em !important;
	color: white !important;
}

.footer h2{
	font-size: 1.7em !important;
}

/* White text in navbar */
.navbar a {
	color: white !important;	
}

.btn {
  border-radius: 0 !important;
}

 /* Image inside main carousel */ 
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
    height: 800px !important;
    object-fit: cover;
}

/* In case of small resolution */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

 