/* Deletes white space after navbar and rounded corners */
.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	font-size: 1.7em !important;
	color: white !important;
}

/* Style of brand */
.navbar-brand {
	font-size: 0.9em !important;
	color: white !important;
}

/* Footer of website */
.footer h2{
	font-size: 1.7em !important;
}

/* White text in navbar */
.navbar a {
	color: white !important;	
}

/* Buttons */
.btn {
  border-radius: 0 !important;
}

 /* Image inside main carousel */ 
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
    height: 800px !important;
    object-fit: cover;
}

/* In case of small resolution */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

/* --- Create gallery --- */
.c_next p{
	font-size: 2.7em !important;
	margin-top: 30px;
	margin-right: 70px;
	color: black !important;	
}

.albums ul {
  list-style-type: none;
}

.albums a {
    color: black !important;	
}

.albums li {
	font-size: 1.3em !important;
	margin-left: 40px;
}

.albums-list li {
	font-size: 1.3em !important;
	margin-left: 60px;
}

.albums-list a {
    color: black !important;
}

.photos ul {
	font-size: 1.3em !important;
	list-style-type: none;
}

.photos img {
	margin-bottom: 20px;
	width: 70% !important;
}

.photos p {
	font-size: 1.3em !important;
	margin-top: 0px;
	margin-left: 110px;
}

.photos a {
	color: black !important;
}

.photos-list {
	background-color: white;
    display: inline-block;
}

.photos-list img:hover{
	opacity: .5;	
}
