body {
    padding-bottom: 50px;
}
/* Deletes white space after navbar and rounded corners */
.navbar {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	font-size: 1.5em !important;
	color: white !important;
}

/* Style of brand */
.navbar-brand {
	font-size: 0.9em !important;
	color: white !important;
}

/* Footer of website */
.footer h2 {
	font-size: 1.3em !important;
    position: relative;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: white;
}

/* White text in navbar */
.navbar a {
	color: white !important;	
}

.dropdown-menu a {
    color: black !important;
}

/* Buttons */
.btn {
  border-radius: 0 !important;
}

 /* Image inside main carousel */ 
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
    height: 800px !important;
    object-fit: cover;
}

/* In case of small resolution */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

/* --- Create gallery --- */

.c_next p {
	font-size: 2em !important;
	margin-top: 30px;
	margin-right: 70px;
	color: black !important;	
}

.albums ul {
  list-style-type: none;
  padding-left: 0;
}

.albums a {
    color: black !important;	
}

.albums li {
	font-size: 1.3em !important;
	margin-left: 0px;
}

.albums-list li {
	font-size: 1.3em !important;
	margin-left: 20px;
}

.albums-list a {
    color: black !important;
}

.photos ul {
	font-size: 1.3em !important;
	list-style-type: none;
    padding-left: 0;
}

.photos img {
	margin-bottom: 10px;
	width: 100% !important;
}

.photos p {
	font-size: 1.1em !important;
	width: 100%;
    text-align: center;
}

.photos a {
	color: black !important;
}

.photos-list {
	background-color: white;
    display: inline-block;
    width: 100%;
}

.photos-list img:hover{
	opacity: .5;	
}

/* --- Theme --- */
.t_next p{
	font-size: 2em !important;
	margin-top: 30px;
	margin-right: 70px;
	color: black !important;	
}

.t_back p{
	font-size: 2em !important;
	margin-top: 30px;
	margin-left: 70px;
	color: black !important;	
}

#slider .slider-selection {
	background: #BABABA;
}

.theme p {
	font-size: 1.7em !important;
	text-align: center;
}
.slider {
    width: 100% !important;
    margin-bottom: 55px;
}

.squares {
    max-width: 680px;
    margin: 0 auto;
}

.squares a {
  text-decoration: none;
  color: black;
}

.squares a:hover {
  text-decoration: none;
  color: black;
}

.square-container {
  width: 150px;
  height: 180px;
  margin: 12px 8px 12px 8px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.square-container p {
  font-size: 1.2em; 
}

.square-container:hover {
  -webkit-box-shadow: 0px 0px 8px 6px rgba(97,187,255,0.6);
  -moz-box-shadow: 0px 0px 8px 6px rgba(97,187,255,0.6);
  box-shadow: 0px 0px 8px 6px rgba(97,187,255,0.6);
}

.square {
  width: 100%;
  height: 150px;
}

.light {
	background: #ffffbf;
}

.dark {
	background: #30302c;
}

.aqua {
	background: #15dbc7;
}

.artist {
	background: #db153a;
}

.artist:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 30px #9ecaed;
}

.aqua:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 30px #9ecaed;
}

.light:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 30px #9ecaed;
}

.dark:hover {
    border-color: #9ecaed;
    box-shadow: 0 0 30px #9ecaed;
}

/* Final site */
.f_back p {
	font-size: 2.7em !important;
	margin-top: 30px;
	margin-left: 70px;
	color: black !important;	
}

.conditions {
	font-size: 1.2em !important;
}

.demo {
    margin: 0 auto;
    width: 150px;
    padding: 10px;	
}

.download {
   margin: 0 auto;
   width: 150px;
   padding: 10px;	
}

.demo button {
    background-color: #30302c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

.download button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

.accept {
	font-size: 1.5em !important;
  width: 375px;
	margin: 0 auto;
}

/* Show demo */

.show {
    margin-left: 150px;
}

.show img {
    margin-bottom: 20px;
}